<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
  <%- include('../partials/head') %>
</head>

<body class="landing-page bg-gray-200">

  <%- include('../partials/navbar') %>

  <main>
    <%- body %>
  </main>

  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>

</body>
</html>
